
:root{
  --white:white;
  --blue:#0080ff;
  --navy:#111B3C;
  --orange:#ff7f00;
}

body {
    margin : 0;
    background-color: var(--blue);
    text-align: center;
    color: var(--white);
    font-weight: bold;
    font-size: larger;
}

button {
    cursor: pointer;
    background-color: var(--orange);
    border: 3px solid var(--white);
    color: var(--navy);
}

input {
    background-color: var(--navy);
    color: var(--white);
    border: 1px solid var(--white)  
}


